body {
    display: grid;
    place-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-image: url('https://cdn.discordapp.com/attachments/1130986582032050226/1159996486794168320/2023-10-01_16.23.25.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: #f0f0f0;
    position: relative;
}
h1 {
    font-size: 50px;
    text-align: center;
    margin-bottom: 20px;
    color: #b84616;
    text-shadow: 2px 2px 4px #6e6c6c;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    animation: fade-in 1s;
}

.image-centre {
    height: 250px;
}

.left h3 {
    text-align: center;
}

.main {
    display: flex;
    justify-content: space-between;
    gap: 300px;
}

.image-centre:hover {
    opacity: 0.8;
    cursor: pointer;
    
}

.upgrade-image {
    width: 55px;
}

.diamond-img {
    width: 55px;
}

.upgrade {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 5px solid rgb(79, 6, 6);
    gap: 30px;
    padding: 0 10px;
    position: relative;
    margin-bottom: 20px;
    border-radius: 5px;
    
}

.cost-info {
    display: flex;
    align-items: center;
    gap: 10px;
}

.diamond-img {
    width: 25px;
    height: 25px;
}

.next-level-info {
    position: absolute;
    right: -160px;
    background-color: grey;
    height: 80px;
    width: 100px;
    display: none;
}

.upgrade:hover .next-level-info {
    display: block;
}
.statistics {
position: absolute;
bottom: 0;
width: 400px;
height: 50px;
padding: 30px;
border: 3px white solid;
border-top-right-radius: 10px;
border-top-left-radius: 10px;
right:57%;
transform: translate(10%);
margin-bottom:5px;
}

.texts{
display: flex;
gap:100px;
justify-content: center;
font-weight: bold;
font-size: 20px;
}
.fade-up{
animation: fade-up 1s;
}

@keyframes fade-up {
    0% {
        transform: translateY(20px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}
.diamond-img-container {
    position:relative;
 
}

button{
    margin: 3px;
}

button:hover {
    background-color: #b574c7; /* Couleur de fond au survol */
    transform: scale(1.05); /* Légère augmentation de la taille au survol */
}

button:active {
    background-color: #792c7d; /* Couleur de fond lors du clic */
    transform: scale(0.95); /* Réduction de la taille lors du clic */
}
/* le style pour faire apparaitre le chiffre quand on click sur le diamant */
.fade-up {
    opacity: 0;
    transform: translateY(20px);
    
    animation: fade-up 1s;
    animation-fill-mode: forwards;
    
}

.diamond-image-container {
    position: relative;
    
}

@keyframes fade-up {
    0% {
        transform: translateY(0);
        opacity: 1;
    }
    20% {
        transform: translate(-5px);
        opacity: 0.8;
    }
    40% {
        transform: translate(-13px);
        opacity: 0.6;
    }
    600% {
        transform: translate(-25px);
        opacity: 0.4;
    }
    80% {
        transform: translate(-42px);
        opacity: 0.2;
    }
    100% {
        transform: translate(-65px);
        opacity: 0;
    }
    
}