body {
    display: grid;
    place-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: #e0ddf3;
    position: relative;
}
h1 {
    font-size: 50px;
    text-align: center;
    margin-bottom: 20px;
    color: #b84616;
    text-shadow: 2px 2px 4px #ede8e8;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    animation: fade-in 1s;
}

.image-centre {
    height: 250px;
}

.left h3 {
    text-align: center;
}

.main {
    display: flex;
    justify-content: space-between;
    gap: 300px;
}

.image-centre:hover {
    opacity: 0.8;
    cursor: pointer;
    
}

.upgrade-image {
    width: 55px;
}

.diamond-img {
    width: 55px;
}

.upgrade {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 5px solid rgb(79, 6, 6);
    gap: 30px;
    padding: 0 10px;
    position: relative;
    margin-bottom: 20px;
    border-radius: 5px;
    
}

.cost-info {
    display: flex;
    align-items: center;
    gap: 10px;
}

.diamond-img {
    width: 25px;
    height: 25px;
}

.next-level-info {
    position: absolute;
    right: -160px;
    background-color: grey;
    height: 80px;
    width: 100px;
    display: none;
}

.upgrade:hover .next-level-info {
    display: block;
}
.statistics {
position: absolute;
bottom: 0;
width: 400px;
height: 50px;
padding: 30px;
border: 3px white solid;
border-top-right-radius: 10px;
border-top-left-radius: 10px;
right:50%;
transform: translate(10%);
margin-bottom: 10px;
}

.texts{
display: flex;
gap:100px;
justify-content: center;
font-weight: bold;
font-size: 20px;
}
.fade-up{
animation: fade-up 1s;
}

@keyframes fade-up {
    0% {
        transform: translateY(20px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}
.diamond-img-container {
    position:relative;
 
}
